html {
    scroll-behavior: smooth;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.footer-bottom {
    background: #333;
    color: white;
    padding: 10px;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 120;
    position: fixed;
    height: 5em;
}

.footer-bottom .text-center {
    position: relative;
    top: 0px;
}

.toTop {
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: -45px;
    z-index: 200;
    scroll-behavior: smooth;
}

.toTop img {
    position: relative;
    top: -31px;
    width: 50%;
    height: 6em;
}

.toTop img:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: rgb(235, 82, 62);
}