.travel-photo-container {
    position: absolute;
    width: 10vw;
    min-width: 100%;
    height: 500px;
    top: 95px;
    left: 0px;
    margin-bottom: 50px;
    background: url('https://images.unsplash.com/photo-1581665269479-57504728e479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.travel-photo-container h1 {
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 2em;
}

.travel-photo-container p {
    font-size: 1em;
    color: #fff;
    position: absolute;
    top: 120px;
    left: 6em;
}